<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rapicoop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RapiCoop"
        tools:targetApi="31">
        <activity
            android:name=".Estadisticas"
            android:exported="false" />

        <service
            android:name=".ServicioEstadisticas"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".NotificarService"
            android:exported="false" />

        <activity
            android:name=".Ubicacion"
            android:exported="false" />
        <activity
            android:name=".Estado"
            android:exported="false" />
        <activity
            android:name=".Ruta"
            android:exported="false" />
        <activity
            android:name=".Itempedidosespera"
            android:exported="false" />
        <activity
            android:name=".Pedidosdomi"
            android:exported="false" />
        <activity
            android:name=".descripcionpedido"
            android:exported="false" />
        <activity
            android:name=".Domilciliario"
            android:exported="false" />
        <activity
            android:name=".AceptarOferta"
            android:exported="false" />
        <activity
            android:name=".ofertasaceptadas"
            android:exported="false" />
        <activity
            android:name=".AgregarDireccion"
            android:exported="false" />
        <activity
            android:name=".listadir"
            android:exported="false" />
        <activity
            android:name=".eliminarofertav"
            android:exported="false" />
        <activity
            android:name=".carritodecompras"
            android:exported="false" />
        <activity
            android:name=".DescripcionOferta"
            android:exported="false" />
        <activity
            android:name=".Ofertasconsumidor"
            android:exported="false" />
        <activity
            android:name=".Ofertarcomida"
            android:exported="false" />
        <activity
            android:name=".Consumidor"
            android:exported="false" />
        <activity
            android:name=".Vendedor"
            android:exported="false" />
        <activity
            android:name=".SigIn"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>